<a href="https://colab.research.google.com/github/meetsavani/java/blob/master/Python_Workshop_Hands_on_Day_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Python Fundamentals

### Variables

#### Creating Variables

In [2]:
print(var1)
print(_var2) 
print(VAR3)
print(__var4_)
print(var5)

23
0.001
I am a String!
True
(3+4j)

In [0]:
var1 = 23                            # integer
_var2 = 0.001                        # float
VAR3 = "I am a String!"              # string
__var4_ = True                       # boolean
var5 = 3 + 4j

##### Integer Variables

In [0]:
ivar1 = 56
ivar2 = -244
ivar3 = 46478526537689
ivar4 = 0x464

In [0]:
print(ivar1, ivar2, ivar3, ivar4)

56 -244 46478526537689 1124

##### Float Variables

In [0]:
fvar1 = 56.56
fvar2 = -244.62887
fvar3 = 5e3

In [4]:
print(fvar1, fvar2, fvar3)

56.56 -244.62887 5000.0

##### String Variables

In [0]:
svar1 = "Double Quotes"
svar2 = 'Single Quotes'

In [0]:
print(svar1, svar2)

Double Quotes Single Quotes

##### Complex Variables

In [0]:
complex_var = 3 + 4j                 # complex
print(complex_var.real)              # real part
print(complex_var.imag)              # imaginory part
print(complex_var.conjugate())       # complex conjugate

3.0
4.0
(3-4j)

##### Variable can change its type!

In [0]:
var5 = "I am String!!!"              # string variable
print(var5)

var5 = 8587                          # assigned integer value to var5
print(var5)

I am String!!!
8587

#### Type Casting

##### To Integer

In [0]:
ivar1 = int(12345)                    # integer to integer
ivar2 = int(123.4567)                 # float to integer
ivar3 = int("567432")                 # string to integer

In [0]:
print(ivar1, ivar2, ivar3)

12345 123 567432

##### To Float

In [0]:
fvar1 = float(12345)                   # integer to float
fvar2 = float(123.4567)                # float to float
fvar3 = float("567432")                # string to float
fvar4 = float("567.432")               # string to float

In [0]:
print(fvar1, fvar2, fvar3, fvar4)

12345.0 123.4567 567432.0 567.432

##### To String

In [0]:
svar1 = str(12345)                     # integer to string
svar2 = str(123.4567)                  # float to string
svar3 = str("567432")                  # string to string
svar4 = str(False)                     # boolean to string
svar5 = str(3 + 4j)                    # complex to string

In [0]:
print(svar1, svar2, svar3, svar4, svar5)

12345 123.4567 567432 False (3+4j)

#### type(obj) method:

In [0]:
var1 = 314
print(type(var1))

var2 = 3.1415
print(type(var2))
           
var3 = "january"
print(type(var3))

var4 = True
print(type(var4))

var5 = 3 + 4j
print(type(var5))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'complex'>

#### isinstance() method:

In [0]:
var1 = "This is String!"

In [0]:
print(isinstance(var1, int))
print(isinstance(var1, float))
print(isinstance(var1, str))
print(isinstance(var1, bool))
print(isinstance(var1, complex))

False
False
True
False
False

#### id(obj) method:

In [0]:
var1 = 123
var2 = "abcd"
var3 = 123
var4 = var2

In [0]:
print(id(var1))
print(id(var2))
print(id(var3))
print(id(var4))

10914304
139981411315248
10914304
139981411315248

### Operators

#### Arithmetic operators

In [0]:
a, b = 10, 4

print('Addition', a + b)
print('Division', a / b)
print('Modulus', a % b)
print('Exponentiation', a ** b)
print('Floor division', a // b)

Addition 14
Division 2.5
Modulus 2
Exponentiation 10000
Floor division 2

#### Comparision

In [0]:
a, b = 10, 4

print('a == b', a == b)
print('a != b', a != b)
print('a > b', a > b)
print('a >= b', a >= b)

a == b False
a != b True
a > b True
a >= b True

#### Logical

In [0]:
a, b = 10, 4

print('a == 10 and b > 3:', (a == 10 and b > 3))
print('a > 5 or b > 5:', (a > 5 or b > 5))
print('not b < 2:', not b < 2)

a == 10 and b > 3: True
a > 5 or b > 5: True
not b < 2: True

#### Bitwise

In [0]:
a = 15

print(a << 2)
print(a >> 2)
print(~ a)

60
3
-16

#### Membership

In [0]:
a = ['a', 'b', 'c', 'd']

print('c' in a)
print('b' not in a)

True
False

#### Identity

In [0]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is z)
print(x is y)
print(x == y)

True
False
True

### Control Flow Structures

#### If...else

In [0]:
age = 14

if age > 18:
  print('Adult')
else:
  print('Not an adult')

Not an adult

In [0]:
marks = 41

if type(marks) == int:
  if marks >= 90:
    print('Grade A')
  elif marks >= 70 and marks < 90:
    print('Grade B')
  elif marks >= 40 and marks < 70:
    print('Grade C')
  else:
    print('Fail')
else: print('Marks should be integer')

Grade C

#### While loop

In [0]:
i = 50

while i >= 0:
  print(i)
  i -= 10;

50
40
30
20
10
0

#### For loop

In [0]:
cnos = [2+3j, 5-8j, -9+7j]

for number in cnos:
  print(number)

(2+3j)
(5-8j)
(-9+7j)

In [0]:
for i in range(10, 1, -2):
  print(i)

10
8
6
4
2

In [0]:
for i in range(6):
  print(i)
  if i == 3:
    break
else:
  print('Finished')

0
1
2
3

In [0]:
i = 1
while i <= 10:
  i += 1
  if i < 5:
    continue
  print(i)
else:
  print('Finished')

5
6
7
8
9
10
11
Finished

### Functions

#### pass

In [0]:
def printString(mystr):
  pass

In [0]:
def multiplyNumbers(x, y, z):
  return x * y * z
    
    
a, b, c = 5, 2, 8
print('Product =', multiplyNumbers(a, b, c))

Product = 80

#### Keyword arguments

In [0]:
def myFunction(fname, lname, age):
  print('My name is '+fname+' '+lname)
  print('My age is ', age)
    

# myFunction('ABC', 25, 'PQR')    # ERROR !
myFunction(lname='ABC', age=25, fname='PQR')

My name is PQR ABC
My age is  25

#### Default arguments

In [0]:
def multiplyNumbers(x=1, y=1, z=1):
  return x * y * z
    
    
a, b, c = 5, 2, 8
print('Product =', multiplyNumbers(a, b, c))

Product = 80

#### Variable arguments

In [0]:
def AddNumbers(x = 0, *varg):
  s = x
  for var in varg:
    s += var
  return s
    
    
a, b, c = 5, 2, 8
print('Sum =', AddNumbers())
print('Sum =', AddNumbers(2,3))
print('Sum =', AddNumbers(2,3,6,1,2))

Sum = 0
Sum = 5
Sum = 14

#### Lambda functions

In [0]:
def testFunction(n):
  return lambda a : a * n


doubler = testFunction(2)
print(doubler(8))


tripler = testFunction(3)
print(tripler(8))

16
24

### Data Structures

#### List

##### Change an item

In [0]:
mylist = ['item0', 1, 'item2', 3]
print(mylist[1])

mylist[1] = 'A'
print(mylist)

1
['item0', 'A', 'item2', 3]

##### List methods

In [0]:
print(mylist.pop())
print(mylist)

3
['item0', 'A', 'item2']

In [0]:
mylist.insert(2, 3)
print(mylist)

['item0', 'A', 3, 'item2']

In [0]:
mylist.append('temp')
print(mylist)

['item0', 'A', 'item2', 3, 'temp']

In [0]:
mylist.remove('temp')
print(mylist)

['item0', 'A', 'item2', 3]

##### Using list constructor

In [0]:
mylist = list(('item0', 1, 'item2', 3))
print(mylist)

['item0', 1, 'item2', 3]

##### del keyword

In [0]:
del mylist[2]
print(mylist)
del mylist

['item0', 1]

##### Looping through the list

In [0]:
mylist = ['item0', 1, 'item2', 3]
for item in mylist:
  print(item)

item0
1
item2
3

##### Builtin list methods

In [0]:
mylist = [0, 1, 2, 3]
print(len(mylist))
print(max(mylist))
print(min(mylist))

4
3
0

#### Tuple

##### Change an item

In [0]:
mytuple = ('item0', 1, 'item2', 3)
print(mytuple)
# mytuple[1] = 'A'  # ERROR !
print(mytuple[1])

('item0', 1, 'item2', 3)
1

##### Tuple methods

In [0]:
mytuple = ('item0', 1, 'item2', 1)
print(mytuple.count(1))

2

In [0]:
mytuple.index(1)

1

#### Dictionary

##### Change an item

In [0]:
mydict =	{
  "fname": "abc",
  "lname": "pqr",
  "age": 25
}

print(mydict["age"])
print(mydict.get("fname"))

mydict["lname"] = 'xyz'
print(mydict["lname"])

25
abc
xyz

##### Dictionary methods

In [0]:
mydict =	{
  "fname": "abc",
  "lname": "pqr",
  "age": 25
}

print(mydict.keys())
print(mydict.items())

dict_keys(['fname', 'lname', 'age'])
dict_items([('fname', 'abc'), ('lname', 'pqr'), ('age', 25)])

In [0]:
mydict["city"] = "Vadodara"
print(mydict)

{'fname': 'abc', 'lname': 'pqr', 'age': 25, 'city': 'Vadodara'}

In [0]:
print(mydict.popitem())

('city', 'Vadodara')

##### Looping through dictionary

In [0]:
mydict =	{
  "fname": "abc",
  "lname": "pqr",
  "age": 25
}

for i in mydict.values():
  print(i)

abc
pqr
25

##### Using dict constructor

In [0]:
d = dict(fname='abc', lname='pqr', age=25)
str(d)

"{'fname': 'abc', 'lname': 'pqr', 'age': 25}"

#### Set

In [0]:
s = {2, 'abc', 4, 'h'}
print(s)
# print(s[0])    # ERROR !
# s[0] = 'A'     # ERROR !

{'abc', 'h', 2, 4}

##### Set methods

In [0]:
s = {2, 'abc', 4, 'h'}
s.add('new')
print(s)

{2, 4, 'new', 'abc', 'h'}

In [0]:
s1 = {2, 'abc', 4, 'h'}
s2 = {2, 'def', 'c', 'h'}

print('Union', s1.union(s2))
print('Intersection', s1.intersection(s2))
print('Difference', s1.difference(s2))
print('Disjoint', s1.isdisjoint(s2))

Union {2, 'def', 4, 'abc', 'c', 'h'}
Intersection {'h', 2}
Difference {'abc', 4}
Disjoint False

### OOPS

#### Encapsulation

In [0]:
class Student:
  'Class for all students'
  count = 0                           # Class variable
  
  def __init__(self1, name, age):
    self1.name = name                 # Instance variable
    self1.age = age
    Student.count += 1
    
  # Prints the name of student        # Instance method
  def printName(self1):
    print('Name is ', self1.name)
  
  # Returns the count of students
  @staticmethod                       # Static method
  def getCount():
#   print(self1.name)                 # ERROR !
    return Student.count
  
  
  # Destructor
  def __del__(self1):
    print("Destroyed...!")
    


s1 = Student('abc', 25)              # Instanstiate an object of Student class
s1.printName()
print(Student.getCount())
print(s1.getCount())

Destroyed...!
Name is  abc
1
1

In [0]:
s1 = Student('abc', 25)

print(getattr(s1, "name"))

print(hasattr(s1, "name"))

setattr(s1, "name", "hi")
s1.printName()

delattr(s1,"name")
# s1.printName()        # ERROR !
s2 = Student('abc', 25)

s2.printName()

del s2

Destroyed...!
abc
True
Name is  hi
Name is  abc
Destroyed...!

In [0]:
print ("Student.__doc__:", Student.__doc__)
print ("Student.__name__:", Student.__name__)
print ("Student.__module__:", Student.__module__)
print ("Student.__bases__:", Student.__bases__)
print ("Student.__dict__:", Student.__dict__ )

Student.__doc__: Class for all students
Student.__name__: Student
Student.__module__: __main__
Student.__bases__: (<class 'object'>,)
Student.__dict__: {'__module__': '__main__', '__doc__': 'Class for all students', 'count': 5, '__init__': <function Student.__init__ at 0x7f133020dc80>, 'printName': <function Student.printName at 0x7f133020dd08>, 'getCount': <function Student.getCount at 0x7f133020dd90>, '__dict__': <attribute '__dict__' of 'Student' objects>, '__weakref__': <attribute '__weakref__' of 'Student' objects>}

#### Inheritance

In [0]:
# Parent class
class Bird:
    
    # Initializer
    def __init__(self):
        print("Bird is ready")

    # Instance method
    def whoisThis(self):
        print("Bird")

    # Instance method
    def swim(self):
        print("Swim faster")


# Child class, inherits from Parent class Bird
class Penguin(Bird):

    # Initializer
    def __init__(self):
        # call super() function
        super().__init__()
        print("Penguin is ready")

    # Instance method
    def whoisThis(self):
        print("Penguin")

    # Instance method
    
    def run(self):
        print("Run faster")

        

peggy = Penguin()
peggy.whoisThis()
peggy.swim()
peggy.run()

Bird is ready
Penguin is ready
Penguin
Swim faster
Run faster

In [0]:
# Parent class
class Dog:

    # Class attribute
    species = 'mammal'

    # Initializer / Instance attributes
    def __init__(self, name, age):
        self.name = name
        self.age = age
        print(self.description())

    # instance method
    def description(self):
        return "{} is {} years old".format(self.name, self.age)

    # instance method
    def speak(self, sound):
        return "{} says {}".format(self.name, sound)



# Child class (inherits from Dog() class)
class RussellTerrier(Dog):
 
    def run(self, speed):
        return "{} runs {}".format(self.name, speed)


# Child class (inherits from Dog() class)
class Bulldog(Dog):
      
    def run(self, speed):
        return "{} runs {}".format(self.name, speed)



jim = Bulldog("Jim", 12)
print(jim.run("slowly"))

# Is jim an instance of Dog()?
print(isinstance(jim, Dog))

# Is julie an instance of Dog()?
julie = Dog("Julie", 100)
print(isinstance(julie, Dog))

# Is johnny walker an instance of Bulldog()
johnnywalker = RussellTerrier("Johnny Walker", 4)
print(isinstance(johnnywalker, Bulldog))

# Is julie an instance of jim?
# print(isinstance(julie, jim))        # ERROR !


# Is Bulldog subclass of Dog?
print(issubclass(Bulldog, Dog))

Jim is 12 years old
Jim runs slowly
True
Julie is 100 years old
True
Johnny Walker is 4 years old
False
True

#### Overloading

In [0]:
class Vector:
    # Initializer
    def __init__(self, x = 0, y = 0):
        self.x = x
        self.y = y
    
    # Overloading base class method
    def __str__(self):
        return "({0},{1})".format(self.x,self.y)
      
    # Overloading '+' operator
    def __add__(self,other):
        x = self.x + other.x
        y = self.y + other.y
        return Vector(x,y) 
     
    # Overloading '-' operator
    def __sub__(self,other):
        x = self.x * other.x
        y = self.y * other.y
        return Vector(x,y)

In [0]:
v1 = Vector(5, 7)
print(v1)
str(v1)
# format(v1)

(5,7)

'(5,7)'

In [0]:
v1 = Vector(5, 7)
v2 = Vector(2, 3)
print(v1 + v2)
print(v1 - v2)

(7,10)
(10,21)

#### Abstraction

In [0]:
class Computer:
  
    __count = 0                     # Private class attr

    # Initializer
    def __init__(self):
        self.__maxprice = 900       # Private instance attr
        Computer.__count += 1

    # instance method
    def sell(self):
        print("Selling Price: {}".format(self.__maxprice))

    # instance method
    def setMaxPrice(self, price):
        self.__maxprice = price
        
    # Private instance method
    def __printPrice(self):
        print("Max Price: {}".format(self.__maxprice))
        

c = Computer()
c.sell()

# change the price

c.__maxprice = 1000                # No change!
c.sell()

# using setter function
c.setMaxPrice(1000)
c.sell()

# c.__printPrice()                 # ERROR !
# print(c.__maxprice)              # ERROR !

c._Computer__maxprice = 10         # Changed!
c.sell()       

c.newattr = 23                     # New attr added only to this instance
print(c.newattr)

c1 = Computer()
# print(c1.newattr)                # ERROR !
print(c.newattr)

Selling Price: 900
Selling Price: 900
Selling Price: 1000
Selling Price: 10
23
23

### String operations

#### String methods

In [0]:
s = 'msu18'
print(s.islower())

print(s.upper())

print(s.title())

s = ' M S University '
print(s.strip())

a = 'M S University'
print(a.split(" "))

b = 'Day and Night, Day and Night'
print(b.replace('Day', 'Light'))

print(b.index('Night'))

print(b.find('and1'))

True
MSU18
Msu18
M S University
['M', 'S', 'University']
Light and Night, Light and Night
8
-1

#### String formatting

In [0]:
name, place = "Bob", "Home"

print('Hello, {}'.format(name))
print('Hello, {}, welcome {}!'.format(name, place))
print('Hey {name}, welcome {place}!'.format(name=name, place=place))
print('Hello, {0}, {1}, {0}'.format(name, place))
print('Hello, {details[0]}, welcome{details[1]}!'.format(details=[name,place]))

Hello, Bob
Hello, Bob, welcome Home!
Hey Bob, welcome Home!
Hello, Bob, Home, Bob
Hello, Bob, welcomeHome!